/* background.tsx (背景) */
.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .top-half {
    height: 30%;
    background-color: #FFDAB9; /* 桃色 */
  }
  
  .bottom-half {
    height: 70%;
    background-color: #FFE4B5; /* 薄い桃色 */
  }
  
/* score.tsx (スコア表示) */
  .score-container {
    position: absolute;
    top: 0;
    left: 0;
  }

 .score-svg {
  display: block;
}

.red-circle {
  fill: #CB7878;
}


/* ranking.tsx (ランキング表示) */
.rounded-rectangle {
    position: absolute;
    top: 40%;
    left: 0;
    width: 200px;
    height: 350px;
    background-color: #BCBCBC;
    border-radius: 10px; /* 四隅の丸み */
    font-size: 34px;
    text-align: center;
 }

 .rank {
  font-size: 32px;
  text-decoration: underline;
  line-height:2.5em;
 }

/* next.css(次のブロック表示) */
.circle {
  position: absolute;
  top: 1%;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #CB7878;
  display: flex;
  justify-content: center;
}

.triangle {
  position: absolute;
  top: 80px; /* Adjust the position as needed */
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid blue; /* Change to border-bottom for an inverted triangle */
}

.text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: black;
}

/* next_block.tsx (ブロックの一覧と進化先の表示) */

.donut {
  position: absolute;
  top: 65%;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(90deg, whitesmoke, gray);
}

.donut::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px; /* 内円のサイズを調整 */
  height: 100px;
  background-color: #FFE4B5; /* 背景色が透明になるよう設定 */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* Rectangle.tsx (ボールが入るかごの表示) */

.basket {
  position: absolute;
  top: 57%;
  left: 50%;
  width: 450px;
  height: 500px;
  border-radius:1.5% ;
  background-color: rgb(255, 255, 255);
  /* border-radius: 20px; */
  color: black;
  font-size: 20px;
  transform: translate(-50%, -50%) translateX(15px);
}
